// -------------- THEME SWITCHER -------------- //
// @mixin dark-appearance {
//   filter: invert(1);

//   img {
//     filter: invert(1);

//     &.ioda {
//       filter: invert(0);
//     }
//   }

//   .emoji {
//     filter: invert(1);
//   }

//   iframe {
//     filter: invert(1);
//   }
// }

// body[a="dark"] {
//   @include dark-appearance;
// }


// @media (prefers-color-scheme: dark) {
//   body[a="auto"] {
//     @include dark-appearance;
//   }
// }

// -------------------------------------------- //

/**
 * Header/Navigation
 */
.menu { background-color: var(--background-color); }
.menu ul { margin-top: 12px;  margin-bottom: 12px;  padding-left: 0px;  list-style-type: none;  text-align: right; }
.menu ul li { display: inline;  margin-left: 12px; }
.menu ul li a { text-decoration: none;  color: var(--text-color); }
.menu ul li a:hover { text-decoration: none; color: var(--selection-text); background-color: var(--selection-background); }

 // -------------------------------------------- //

// bg color is also needed in html in order to
// block body's background propagation
// see: https://stackoverflow.com/a/61265706
html,
body {
  background-color: var(--background-color);
}

html {
  height: 100%;
  scroll-behavior: smooth;
}

body {
  color: var(--text-color);
  font-family: monospace;
  font-size: 16px;
  line-height: 1.4;
  margin: 0;
  min-height: 100%;
  overflow-wrap: break-word;
}

.post-meta {
  text-align: right;
}

h2,
h3,
h4,
h5,
h6 {
  margin-top: 3rem;
}

hr {
  margin: 2rem 0;
}

p {
  margin: 1rem 0;
}

li {
  margin: 0.4rem 0;
}

a { text-decoration: underline;  color: var(--selection-background); }

a:hover { color: var(--selection-text); background-color: var(--selection-background); }

*:target {
  background: green;
}

.w {
  max-width: 640px;
  margin: 0 auto;
  padding: 4rem 2rem;
}

hr {
  text-align: center;
  border: 0;

  &:before {
    content: '/////'
  }

  &:after {
    content: attr(data-content) '/////'
  }
}

table {
  width: 100%;
}

table,
th,
td {
  border: thin solid black;
  border-collapse: collapse;
  padding: 0.4rem;
}

code {
  color: white;
  background: black;
}

div.highlighter-rouge code {
  display: block;
  overflow-x: auto;
  white-space: pre-wrap;
  padding: 1rem;
}

blockquote {
  font-style: italic;
  border: thin solid black;
  padding: 1rem;

  p {
    margin: 0;
  }
}

img {
  max-width: 100%;
  display: block;
  margin: 0 auto;
}

figure {
  display: table;
}

figcaption {
  display: table-caption;
  caption-side: bottom;
  margin-top: 0.2rem;
  text-align: center;
  font-size: 0.9rem;
  font-style: italic;
}

::selection { background: var(--selection-background);  color: var(--selection-text); }